# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Configuration & Secrets
.env

# Database
*.db
*.sqlite3

# IDE / Editors
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/